body {
    font-family: 'Arial', sans-serif; /* Ganti font agar terlihat lebih lembut */
    margin: 0;
    padding: 0;
    background-image: url('background.png'); /* Ganti dengan URL gambar latar belakang Anda */
    background-size: cover;
    text-align: center; /* Teks ditengah */
    color: #000; /* Warna teks hitam */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

h1, h2, ul li, #hasil {
    color: #000; /* Warna teks hitam */
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
}

#hasil {
    font-weight: bold;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
